<!-- tracker results here to display -->
<%- include('partials/header.ejs') %>
<%- include('partials/main_nav.ejs') %>

<main class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><%= title %></h1><br>

            <!-- to add assignments -->
            <h2>Add A Survey</h2>
            <form action="/public/add" method="POST">
                <div class="form-group">
                    <label for="assignment">Name</label>
                    <input type="text" name="assignment" id="assignment" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="due_date">Description</label>
                    <input type="text" name="due_date" id="due_date" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="description">Number of Questions</label>
                    <textarea name="description" id="description" class="form-control" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br>

            <!-- display assignments -->
            <h2>Active Surveys</h2>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">Number of Questions</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let count = 0; count < Surveylist.length; count++) { %>
                        <tr>
                            <td class="text-center"><%= Surveylist[count].name %></td>
                            <td class="text-center"><%= Surveylist[count].description %></td>
                            <td class="text-center"><%= Surveylist[count].numQ %></td>
                            <td class="text-center">
                                <a href="/public/edit/<%= Surveylist[count]._id %>">Edit</a>
                                <form action="/public/delete/<%= Surveylist[count]._id %>" method="POST" onsubmit="return confirmDelete()">
                                    <button type="submit" class="delete_button">Delete</button>
                                </form>
                            
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</main>

<%- include('partials/scripts.ejs') %>
